//- includes/foot.jade
#footer 
    .block
        input#footer 
        ul#footer-links
            li: a(href="#book-a") Store Policies
            li: a(href="#book-b") Press
            li: a(href="#book-a") About Us
            li: a(href="#book-b") Contact &amp; Directions
    p Copyright (c) Grapepoint Wines