//- includes/foot.jade
#footer 
.content
    div(class="top-background")
    section(class="layout")
    img(src="images/grapepoint_sketch.jpg" alt="By Conor Foy")
    .block
        ul#footer-links
            li: a(href="#footer-a") Store Policies
            li: a(href="#footer-b") Press
            li: a(href="#footer-a") About Us
            li: a(href="#footer-b") Contact &amp; Directions
    p Copyright (c) Grapepoint Wines