head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	title Welcome to Grapepoint Wines
	link(rel='stylesheet', href='/bootstrap-3.3.4-dist/css/bootstrap.min.css')
	link(rel='stylesheet', href='/stylesheets/styles.css')
#navigation 
	.block
		ul.navigation-links
			li: a(href="#") Home
			li: a(href="#") Press
			li: a(href="#") About Us
			li: a(href="#") Contact &amp; Directions