html(lang="en")
	include includes/head.jade
	body
		h1 Welcome to Grapepoint Wines
		#container.col
		div.container
			div.content
				table.table.table-striped
					thead
						tr
							th Table
							th Heading
					tbody
						tr
							td Hello
							td World
		script (src = "/grapepoint_wines/js/script.js")
		script (src = "http://localhost:3000")
		div.footer
			include ./includes/foot.jade
		include includes/scripts.jade