html(lang="en")
	include includes/head.jade
	body
		h1 Welcome to Grapepoint Wines
		#content
		.intro
			input#.foo1.foo2
			
		script (src = "/stylesheets/styles.css")
		script (src = "/js/script.js")
		script (src = "http://localhost:3000")
		div.footer
			include ./includes/foot.jade
		include ./includes/scripts.jade