html(lang="en")
	include includes/head.jade
	body
		h1 Welcome to Grapepoint Wines
		#container.col
			form.form-horizontal(method="post", id="loginForm")
				label Customer Name
				input.span3(id="username", type="text", name="User", placeholder="Enter your username")
				label Password
				input.span3(id="password", type="password", name="Password")
				input.btn(type="submit", value="Log In")
		div.container
			div.content
				table.table.table-striped
					thead
						tr
							th Table
							th Heading
					tbody
						tr
							td Hello
							td World
 
		div.footer
			include ./includes/foot.jade
		include includes/scripts.jade