html(lang="en")
	include includes/head.jade
	body
		head 
		div(class="hero")
		section(class="layout")
		a(href="index.jade") 
		img(src="images/misc/logo.png" alt="Grapepoint Wines")

		h1 Grapepoint Wines: Site Relaunch + The Bottle Log App!
		#content
		.intro
			p It's spring and it's a very exciting time at Grapepoint Wines. Our site is in the process of being completely modernized and updated. Watch for the launch date to be announced soon!
			p At Grapepoint Wines our wine is carefully hand selected. The selection is focused on hand harvested, small production and green sustainable farming. Joanna is always on the hunt for the very best. She strives to offer a large selection of wines from different countries, diverse grape varietals and, of course, of exceptional quality. You will find small tasting notes indicating region, price and description with each bottle written by Joanna herself. 
			p We truly care about the folks who shop at our store and want them to have a wonderful experience buying and enjoying their wine. We love to help our customers discover their palates by venturing into the unknown with new delicious wines from different regions and grape varietals. This is one of the many reasons we offer free weekly wine tastings every Friday from 5:30pm to 8:30pm.
		script(src = "/js/script.js")
			
		include includes/foot.jade
		include includes/scripts.jade