html(lang="en")
		head
			title Bottle Log
				script(type='text/javascript').
		body
				h1 Featured Wines for Spring
				#container.col
			if youAreUsingJade
				p You are amazing
			else
				p Get on it!
			p.
				Jade is a terse and simple
				templating language with a
				strong focus on performance
				and powerful features.
				div.top