/* line 1, ../../components/sass/styles.scss */
body {
  background-color: #d2f0db;
  background-image: url("/images/grapepoint_sketch.jpg");
  background-size: cover;
  margin: 20px 30px 20px 50px;
  padding: 60px; }

/* line 10, ../../components/sass/styles.scss */
h1 {
  font-weight: 700;
  line-height: 46px;
  font-size: 42px;
  margin: 0 0 23px 0; }

/* line 17, ../../components/sass/styles.scss */
p {
  color: black; }

/* line 21, ../../components/sass/styles.scss */
ul.footer#links {
  display: inline; }

/* line 25, ../../components/sass/styles.scss */
ul.navigation#links {
  display: inline; }
